@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-size: 16pt;
}

.text-black h1,
.text-black h2,
.text-black h3,
.text-black h4,
.text-black h5,
.text-black p,
.text-black span {
  color: black;
}

h1,h2,h3,h4,h5,p,span {
  color: white;
}

ul li {
  list-style-type: circle;
  list-style-position: inside;
}

ol li {
  list-style-type: decimal;
  list-style-position: inside;
}